nav {
    background-color: #CC6A26;
    width: 100%;
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    text-align: center;
    padding: 25px;
    position: relative;
  }

  li {
    display: inline-block;
    font-size: 30px;
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    margin-right: 30px;
    position: relative;
    height: 50px;
  }

  .dropdown {
    list-style-type: none;
    padding: 0;
    background-color: #CC6A26;
  }

  .drop-ops {
    font-size: 14px;
    font-family: 'Alexandria', sans-serif;
    position: absolute;
    display: none;
    background-color: #a2541c;
    padding: 3px;
    border-radius: 20px;
    width: 100%;
  }

  p {
    margin-top: 10px;
    position: relative;
  }

 .nav-bar-op {
    text-decoration: none;
    color: #FAF1D5;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #CC6A26;
    vertical-align: bottom;
  }
  
  .nav-bar-op:hover {
    background-color: #FAF1D5;
    color: #CC6A26;
    display: block;
  }

  .option {
    text-decoration: none;
    color: #FAF1D5;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #CC6A26;
  }

  .option:hover {
    background-color: #FAF1D5;
    color: #CC6A26;
    display: block;
  }

  .nav-bar-op:hover + .drop-ops {
    display: block;
  }

  .drop-ops:hover {
    display: block;
  }

  .drop-ops:hover + .nav-bar-op {
    background-color: #FAF1D5;
    color: #CC6A26;
    display: block;
  }


body {
    background-color: #FAF1D5;
    padding: 0;
    margin: 0;
  }

  img {
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-iteration-count: 1;
    display: block;
    margin: auto;
    height: 150px;
    padding-top: 250px;
  }
  @keyframes slidein {
    0% {
      margin-left: 360px;
    }
    50% {
      margin-left: 150px;
    }
    100% {
      margin-left: 360px;
    }
  }

  h1 {
    text-align: center;
    padding-bottom: 250px;
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    font-size: 27;
  }
  .categories {
    margin-top: 90px;
    margin-bottom: 90px;
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
  }

  .p1 {
    color: black;
    font-size: 70;
    text-decoration: none;
    margin-left: 60px;
    padding: 20px 80px;
    background-color: #3794AD;
    border-radius: 40px;
  }

  .p1:hover {
    background-color: #307f95;
    color: rgb(16, 15, 15);
  }

  .p2 {
    color: black;
    font-size: 70;
    text-decoration: none;
    margin-left: 60px;
    padding: 20px 80px;
    background-color: #EFC224;
    border-radius: 40px;
  }

  .p2:hover {
    background-color: #d7af1d;
    color: rgb(16, 15, 15);
  }

  .p3 {
    color: black;
    font-size: 70;
    text-decoration: none;
    margin-left: 60px;
    padding: 20px 80px;
    background-color: #5D923D;
    border-radius: 40px;
  }

  .p3:hover {
    background-color: #517d35;
    color: rgb(16, 15, 15);
  }

  .p4 {
    color: black;
    font-size: 70;
    text-decoration: none;
    margin-left: 60px;
    padding: 20px 80px;
    background-color: #CD6B24;
    border-radius: 40px;
  }

  .p4:hover {
    background-color: #b86122;
    color: rgb(16, 15, 15);
  }